<head>
    <title>HIVE: Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content='a basic messaging/chat web app. The app consists of one "global" chat room and a series of "direct message" chats for one to one chat between users registered on the app'>
    <meta name="keywords" content="Fahimnur Alam, HiveTeams, Hive, Chat, Meteor, React, MongoDB"
    />

    <!-- favicons + icons for the app -->

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png?v=PYYN78n0ex">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png?v=PYYN78n0ex">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png?v=PYYN78n0ex">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png?v=PYYN78n0ex">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png?v=PYYN78n0ex">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png?v=PYYN78n0ex">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png?v=PYYN78n0ex">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png?v=PYYN78n0ex">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png?v=PYYN78n0ex">
    <link rel="icon" type="image/png" href="/favicon-32x32.png?v=PYYN78n0ex" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-194x194.png?v=PYYN78n0ex" sizes="194x194">
    <link rel="icon" type="image/png" href="/favicon-96x96.png?v=PYYN78n0ex" sizes="96x96">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png?v=PYYN78n0ex" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-16x16.png?v=PYYN78n0ex" sizes="16x16">
    <link rel="manifest" href="/manifest.json?v=PYYN78n0ex">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=PYYN78n0ex" color="#ff2c37">
    <link rel="shortcut icon" href="/favicon.ico?v=PYYN78n0ex">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png?v=PYYN78n0ex">
    <meta name="theme-color" content="#ff2c37">
</head>