/**
  ----------------------------
  AVATAR - user avatar colors
  ----------------------------
**/


.avatar {
  text-align: right;
  margin: 8px;
  color: white;
  font-weight: 900;
  width: 45px;
  height: 45px;
  border-radius: 3px;
  border-width: 2px;
  cursor: pointer;
  font-size: 2.7em;
  // default background
  background: #212121;
}
.av-0{
  background: #212121;
}
.av-1{
  background: #D32F2F;
}
.av-2{
  background: #01579B;
}
.av-3{
  background: #1B5E20;
}
.av-4{
  background: #757575;
}
.av-5{
  background: #E64A19;
}