/**
  ----------------------------------
  CHAT BOX - wrapper instant message
  ----------------------------------
**/

.chatbox {
  border-bottom: 1px solid #ECECEC;
  margin-bottom: 1em;
  clear: both;
  &:hover {
    background: #F7F7F7;
  }
  &:first-child {
    margin-top: 1em;
  }
  &:last-child {
    border-bottom: none;
  }
  .author {
    // author of the message
    padding: 0.5em;
    font-size: 0.8em;
    font-weight: 500;
    a {
      color: #333;
    }
    time {
      // time the message posted
      color: #A9A9A9;
      font-weight: normal;
      margin-left: 0.5em;
    }
  }
}
// holds all the messages (chat logs).
.chatlog {
  //for the fixed input menu at bottom.
  margin-bottom: 3em;
}


/**
  --------------------------------------------
  MESSAGE BOX - message input box fixed bottom
  --------------------------------------------
**/

.message-box {
  position: fixed;
  bottom: -15px;
  @media only screen and (max-width: 40em) {
    left: 0;
  }
  padding: 0.33em 0.55em 0 0.55em;
  background: #fff;
}
